<div class="notepad letter-text final-letter">
  <p>Не раз повторюсь, я очень рад что мы познакомились. И за 2 месяца ты стала для меня очень близким человеком. Знаю, может идея не нова, но я не мог просто оставить сайт в таком состоянии, и все таки немного его допилил. Вот и вышел небольшой презент на 2 месяца знакомства.</p>
  <p>Наверное, самое ценное для меня за эти 2 месяца — это то, насколько легко и спокойно мне рядом с тобой. Даже обычные разговоры с тобой становятся чем-то особенным, что хочется помнить.</p>
  <p>Мне нравится узнавать тебя все больше: твои мысли, реакции, привычки, даже мелочи, которые сначала кажутся незаметными. И чем дальше, тем сильнее понимаю, насколько ты стала для меня важным человеком.</p>
  <p>Спасибо тебе за эмоции, за время, за искренность и за то тепло, которое ты даешь. Я правда очень ценю все, что между нами есть сейчас.</p>
  <p>Хи хи хи, да да да, очередное письмо)</p>
</div>
