<div class="paint-puzzle" data-game="paint-puzzle">
  <div class="paint-toolbar">
    <button type="button" data-paint-new>New picture</button>
    <button type="button" data-paint-clear>Clear</button>
    <button type="button" data-paint-erase>Eraser</button>
    <div class="swatches" data-paint-swatches></div>
    <div class="paint-counter" data-paint-counter>0/144</div>
  </div>
  <div class="paint-stage">
    <div>
      <h4>Target</h4>
      <div class="paint-grid target" data-paint-target></div>
    </div>
    <div>
      <h4>Canvas</h4>
      <div class="paint-grid" data-paint-player></div>
    </div>
  </div>
  <footer class="game-message" data-paint-message>Восстанови картинку по образцу слева.</footer>
</div>
